@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #F9FCEA;
  --foreground: #F9FCEA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Work Sans', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9FCEA;
    --foreground: #F9FCEA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Work Sans', sans-serif;
}